/* *{
  margin:0;
  padding:0;
}
body {
   background:rgb(237, 237, 237);
  
 
}

a{
  text-decoration: none;
  color:black
}
a:hover{
  color:red;

}
a:active{
  color:blue;
}
/* a:visited{
  color:green;
} */
/* div {
  line-height: 1;
  color: rgb(9, 9, 128);
  
}


.box-1  h1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: underline;
}

.box-2{
background: red;
color:white;
width: 500px;
margin:10px
}
h1 {
  color:whitesmoke;

}
p {
 color:white
}
.categories{
  border: 1px #ccc solid;
  padding: 30px;
  border-radius: 15px;
  margin: 30px;
  line-height: 1.3em;
}

.categories h2{
  text-align: center;
}
.categories ul{
  padding:0;
  list-style:lower-alpha;
  list-style-image:;
}

.my-form{
  padding:10px;
}

.my-form .form-group{
  display:block;

} */
 */

.container-1{
display:flex;
flex-direction: row-reverse;
 }
 .container-1 div{
  border: 1px #ccc solid;
  padding: 10px;

 }
.box-1{
  

 }
.box-2{
  
 }
 .box-3{
  
 }